/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.tooltip-host {
  position: relative;

  &::before {
    content: attr(data-message);
    position: absolute;
    bottom: -15px;
    left: 3px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    color: red;
  }

  &::after {
    content: '❗';
    position: absolute;
    right: 15px;
    bottom: 50%;
    transform: translateY(50%);
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    color: red;
  }

  input {
    border-color: red;
  }
}